$black: #212529;
$helper: #8490ff;
$bg: #f6f8fa;
$heading: #18181d;
$text: rgba(29, 29, 29, 0.8);
$border: rgba(98, 84, 243, 0.5);
$shadow-support: " rgba(0, 0, 0, 0.16) 0px 1px 4px";
$btn: #6254f3;
$white: #fff;
